@import "tailwindcss";
@font-face {
  font-family: "Patung";
  src: url("./patung.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.sign-font {
  font-family: "Patung";
}
